<html>
    <head>
        <meta charset="utf-8">
        <title>SportTrack | Mon compte</title>
        <link rel="icon" type="image/png" href="img/Run_icon.png">
        <link rel="stylesheet" href="views/myaccount/index.css" media="screen" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
    <div class=menu>
        <a href="/"><img src="img/sporttrack.png"></img></a>
        <a href="upload">AJOUTER UN FICHIER</a>
        <a href="activities">MES ACTIVITÉS</a>
    </div>
    <div  class="information">
        <h1>Mes informations</h1>
        
        <form method="POST">

            <div>
                <label for="lastName">Nom:</label>
                <input type="text" id="lastName" name="lastName" value="<?php echo $user->getLastName(); ?>">
            </div>

            <div>
                <label for="firstName">Prénom:</label>
                <input type="text" id="firstName" name="firstName" value="<?php echo $user->getFirstName(); ?>">
            </div>

            <div>
                <label for="birthDate">Date de naissance:</label>
                <input type="text" id="birthDate" name="birthDate" value="<?php echo $user->getBirthDate(); ?>">
            </div>

            <div>
                <label for="gender">Sexe:</label>
                <select id="gender" name="gender">
                    <option value="M" <?php if($user->getGender() == "Male") echo "selected"; ?>>Homme</option>
                    <option value="F" <?php if($user->getGender() == "Female") echo "selected"; ?>>Femme</option>
                    <option value="Other" <?php if($user->getGender() == "Other") echo "selected"; ?>>Autre</option>
                </select>
            </div>

            <div>
                <label for="height">Taille (cm):</label>
                <input type="number" id="height" name="height" value="<?php echo $user->getHeight(); ?>">
            </div>

            <div>
                <label for="weight">Poids (kg):</label>
                <input type="number" id="weight" name="weight" value="<?php echo $user->getWeight(); ?>">
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<?php echo $user->getEmail(); ?>">
            </div>

            <button type="submit">Enregistrer les modifications</button>
        </form>

        <a href="/">Retourner à l'accueil</a>
    </div>
</body>
</html>
