<html>
    <head>
        <meta charset="utf-8">
        <title>SportTrack | Se connecter</title>
        <link rel="icon" type="image/png" href="img/Run_icon.png">
        <link rel="stylesheet" href="views/signin/index.css" media="screen" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
    <div class=menu>
        <a href="/"><img src="img/sporttrack.png"></img></a>
        <a href="user_add">S'INSCRIRE</a>
    </div>
    <div class="formulaire">
        <h1> Connectez-vous sur SportTrack ! </h1>
        <form method="post">
            <div>
                <label for="email">Votre e-mail</label>
                <input type="email" id="email" name="email" placeholder="monadresse@mail.com" required>
            </div>
            <div>
                <label for="password">Votre mot de passe</label>
                <input type="password" id="password"  name="password" placeholder="Mot de passe" required>
            </div>
            <button type="submit">Je me connecte</button>
        </form>
        <a href="user_add">Je m'inscris</a>
    </div>
    </body>
</html>