extends layout

block content
    header
      .menu
        a(href='/')
          img(src='../img/sporttrack.png', alt='SportTrack Logo')
        if userId
          a(href='disconnect') SE DECONNECTER
          a.myaccount(href='profilEdit') MON COMPTE
        else
          a(href='/connect') SE CONNECTER
          a(href='/users') S'INSCRIRE

    body
        .about-me-container
            h2 À propos de nous :
            p
                | NOMS : PIERRE, PAVOINE
            p
                | PRENOMS : Noé, Oscar