extends layout

block content
    header
      .menu
        a(href='/')
          img(src='img/sporttrack.png' alt='SportTrack Logo')

    body
        .conteneur
            p.explication Une erreur est survenue !
            a.signuptext(href='/') Retour
