extends layout

block content
    header
      .menu
        a(href='/')
          img(src='../img/sporttrack.png', alt='SportTrack Logo')
        if userId
          a(href='disconnect') SE DECONNECTER
          a.myaccount(href='/myaccount') MON COMPTE
        else
          a(href='/connect') SE CONNECTER
          a(href='/users') S'INSCRIRE

    body
    .conteneur
      if !userId
            p.explication SportTrack permet à des sportifs disposant d’une montre "cardio/gps" de pouvoir sauvegarder et gérer des données de position et de fréquence cardiaque
            a.signuptext(href='users') Créer un compte
      else
            p.explication
              | Bienvenue, #{userId.firstName} !
              br
              | Accédez à votre compte pour consulter vos données ou ajouter un nouveau fichier
            a.myaccount(href='myaccount') Mon compte

    footer
      section
        a.apropos(href='apropos') À propos