body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Pour empêcher le défilement de l'image de fond */
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center; /* Pour centrer le contenu vertical */
    width: 100%;
    height: 100%; /* Ajoutez cette ligne pour couvrir toute la page */
    margin: 0; /* Supprimez les marges par défaut */
}


.conteneur {
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    max-width: 400px;
    border-radius: 10px;
    background: rgb(255, 255, 236);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explication {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 25px;
}

.signuptext {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #303030;
    border-radius: 5px;
    font-size: 16px;
    transition: font-size 0.4s;
}

.conteneur .signuptext:hover {
    font-size: 17px;
}

.menu {
    text-align: right;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    font-size: 16px;
    background: rgb(255, 255, 236);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}

.menu a {
    margin-right: 50px;
    line-height: 75px;
    text-decoration: none;
    color: #303030;
    font-family: Montserrat;
    border: none;
    margin-block-end: 0;
    font-weight: 600;
}

.menu a:hover {
    color: #303030;
    font-family: Montserrat;
    border: none;
}

.menu img {
    margin-top: 12.5px;
    margin-left: 20px;
    float: left;
    width: 250px;
}

.menu .myaccount {
    color: rgb(255, 255, 236);
    padding: 10px;
    width: 600px;
    border-radius: 5px;
    background: #303030;
}

.menu .myaccount:hover {
    color: rgb(255, 255, 236);
}

header {
    background: rgb(255, 255, 236);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 10px 0;
    text-align: right;
    position: fixed;
    top: 0;
    z-index: 1; /* Pour empêcher le header de se superposer à d'autres éléments */
}

header a {
    margin-right: 50px;
    text-decoration: none;
    color: #303030;
    font-family: Montserrat;
    font-weight: 600;
}

main {
    text-align: center;
    margin-top: 100px;
}

footer {
    background: rgb(255, 255, 236);
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-align: right;
}

.apropos {
    font-size: 10px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    margin-right: 50px;
    color: #303030;
}

.myaccount {
    color: rgb(255, 255, 236);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    background: #303030;
    text-decoration: none;
    font-size: 16px;
    transition: font-size 0.4s;
}

.conteneur .myaccount:hover {
    font-size: 17px;
}
  