extends layout

block content
    header
      .menu
        a(href='/')
          img(src='img/sporttrack.png' alt='SportTrack Logo')

    body
        .conteneur
            p.explication Votre mot de passe doit contenir au moins 6 caractères.
            a.signuptext(href='/users') Retour