<html>
    <head>
        <meta charset="utf-8">
        <title>SportTrack | Mon compte</title>
        <link rel="icon" type="image/png" href="img/Run_icon.png">
        <link rel="stylesheet" href="views/upload/index.css" media="screen" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
    <div class=menu>
        <a href="/"><img src="img/sporttrack.png"></img></a>
        <a class="myaccount" href="my_account">MON COMPTE</a>
    </div>
    <div class="formulaire">
        <h1> Ajouter un fichier </h1>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="description">Changer la description de l'activité (optionnel)</label>
                <input type="text" id="description" name="description" placeholder="Course du 23/10 (optionnel)">
            </div>
            <div>
                <label for="fichier">Ajouter votre fichier (fichier JSON uniquement)</label>
                <input class="fichier" type="file" id="fichier" name="file" accept=".json" required>
            </div>
                <button type="submit">J'ajoute mon fichier</button>
        </form>
        <a href="/">Retourner à l'accueil</a>
    </div>
    </body>
</html>