extends layout

block content
    header
      .menu
        a(href='/')
          img(src='img/sporttrack.png' alt='SportTrack Logo')

    body
        .conteneur
            p.explication L'adresse email que vous avez entrée est invalide.
            a.signuptext(href='/users') Retour