extends layout

block content
    header
      .menu
        a(href='/')
          img(src='img/sporttrack.png' alt='SportTrack Logo')

    body
        .conteneur
            p.explication Cette adresse mail est déjà utilisée !
            a.signuptext(href='/users') Retour
